* {
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div1 {
    position: relative;
    width: 90%;
    height: 14rem;
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

p {
    position: absolute;
    top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

section {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    font-size: 25px;
    width: 30%;
    text-align: center;
}

#color1 {
    background-color: lightcoral;
}

#color2 {
    background-color: brown;
    color: white;
}

#color3 {
    background-color: rgb(221, 218, 17);
}

.container {
    width: 100%;
    margin-top: 50px;
 
}

@media (min-width:992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
        margin: 0px 15px;
    }

    .col-lg-4 {
        width: 30%;
    }

    .div1 {
        height: 17rem;

    }
}

@media (min-width:768px) and (max-width:991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        margin: 15px 22px;
        height: 16rem;
    }

    .col-md-6 {
        width: 44%;
    }

    .col-md-12 {
        width: 95%;
    }

    #color3 {
        width: 15%;
    }

    #height3{
        height: 10rem;
    }

}